/* Les fonts utilisées sur le site sont installées localement */
@font-face {
  font-family: "luciole-bold";
  src: url("ressources/fonts/Luciole-Bold.ttf");
}

@font-face {
  font-family: "luciole-regular";
  src: url("ressources/fonts/Luciole-Regular.ttf");
}

@font-face {
  font-family: "montserrat";
  src: url("ressources/fonts/Montserrat-Regular.ttf");
}

:root {
  --main-color: #f9f9f9;
  --second-color: #4a6c6f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 /* outline: solid 1px red ; */
}

h1,
h2,
h3 {
  color: var(--second-color);
  font-family: "luciole-regular", sans-serif;
}

p {
  font-family: "montserrat", sans-serif;
  color: var(--second-color);
}
/* Header landing page */
#container-top {
  height: 75vh;
  position: relative;
  overflow: hidden;
}

nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 1%;
  width: 100vw;
  padding: 0 1rem;
}

#logo {
  max-width: 50px;
  max-height: 50px;
  z-index: 9;
}
/* Début du code nécessaire au menu burger */
.nav-toggler {
  position: relative;
  z-index: 10;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.line {
  position: absolute;
  display: block;
  width: 90%;
  height: 5px;
  background: var(--second-color);
  border-radius: 10px;
  transition: transform 0.3s ease-out;
  opacity: 0.1s ease-out;
}

/* Écartement de la ligne 1 et 3 pour que les trois ne soient pas superposées */
.l1 {
  transform: translateY(-10px);
}

.l3 {
  transform: translateY(10px);
}

/* Création de la rotation des lignes lorsque l'on clique dessus */
.nav-toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
  opacity: 0;
}

.nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

/* Disposition du corps du menu */
.curtainNavigation {
  z-index: 7;
  width: 50vw;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 4rem;
  padding-right: 1rem;
  background: var(--main-color);
  border-radius: 10px;
  font-family: "luciole-regular", sans-serif;
  font-size: 1.2rem;
  transform: translateX(150%);
  transition: transform 0.6s ease-out;
}

.curtainNavigation.active {
  transform: translate(50%);
}

.curtainNavigation a {
  color: var(--second-color);
  text-decoration: none;
  margin: 2rem 0;
}
/* Fin du code nécessaire au menu burger */

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
}

.img-landing {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: 0 1rem;
  position: relative;
  text-align: center;
}

/* Corps de la landing page */
body {
  background-color: var(--main-color);
}

.baseline {
  font-size: 2.2rem;
}

.region-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.region-button-1,.region-button-2,.region-button-3  {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.region-button-1:hover,.region-button-2:hover,.region-button-3:hover {
  opacity: 0.6;
  cursor: pointer;
}

.region-title {
  font-size: 1.7rem;
}

/* debut evenement cardRegion */
.region-card {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  background-color: var(--main-color);
  border: 4px solid var(--second-color);
  border-radius: 10px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  max-width: 550px;
}

.region-card-header {
  display: flex;
}

.region-close-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--second-color);
  background-color: var(--main-color);
  font-family: "luciole-regular", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  max-width: 30px;
  border: 3px solid var(--second-color);
  margin-left: 10px;  
  margin-top: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.region-close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.region-card-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.region-card-body {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
}

.card-restaurant {
  padding: 1rem;
  color: var(--second-color);
  font-family: "luciole-regular", sans-serif;
  background-color: var(--main-color);
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 20px 60px;
  font-size: 1.5rem;
  border: 4px solid #4A6C6F;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}
.card-restaurant:hover {
  opacity: 0.6;
  cursor: pointer;
}




/* fin evenement cardRegion */

.goTopAnchor {
  display: flex;
  justify-content: end;
  margin: 1rem;
}

.goTopButton {
  max-height: 4rem;
}
/* Footer de la landing page */
.footer {
  display: flex;
  border-top: 0.1rem solid var(--second-color);
  padding: 1rem;
  margin-top: 2rem;
}

.left-footer {
  width: 60vw;
  font-size: 0.8rem;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

#message {
  margin: 0.5rem 0;
  border-radius: 5px;
}

.submit {
  background-color: var(--second-color);
  color: var(--main-color);
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
}

.right-footer {
  display: flex;
  flex-direction: column;
  width: 40vw;
  text-align: end;
  font-size: 0.7rem;
  justify-content: space-evenly;
}

.footer-url {
  text-decoration: none;
  color: var(--second-color);
}

/* overlay-region-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
/* background-color: --main-color;
  margin: 3em;
} */

/* #photo-gdest {
  width: 15em;
  height: 15em;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* overlay-region-container.div {
  display: flex;
  flex-direction: column;
  text-align: center;
} */


/* Le CSS de card restaurant A.B*/

*{
    box-sizing: border-box;
   /*outline: solid 1px red ;*/
}

body{
    margin: 0;
}

.img-card-restaurant{
    width: 160px;
    height:160px;
    border-radius: 50%;
}

.main-card-restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container-card-restaurant{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card-container{
    max-width: 420px;
    border: 4px solid #4A6C6F;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.close-restaurant{
  display: flex;
  justify-content: space-evenly;
  max-width: 30px;
}

.card-restaurant-description{
    border: 4px solid #4A6C6F;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
/*    align-items: center; */
    font-family: "Montserrat" , sans-serif;
}

.title-city-restaurant{
    margin-bottom: 5px;
}

.name-restaurant{
    margin-top:  5px;;
    margin-bottom: 0;
}

.adresse-restaurant{
    text-align: center;
    margin: 20px 100px ;
}

.restaurant-description {
    text-align: center;
    margin: 0px 10px;
}

.explication-restaurant{
    margin:20px 20px 30px 20px;
}

.site-restaurant{
    margin-bottom: 25px;
}

.accebilite-restaurant{
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  #container-top {
    height: 150vh;
  }

  .img-landing {
    top: 35%;
  }

  h1 {
    font-size: 4rem;
    top: 35%;
  }

  .container-bottom {
    position: absolute;
    top: 118%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vh;
  }

  .curtainNavigation {
    width: 20vw;
    min-height: 100vh;
    align-items: center;
    transform: translateX(300%);
    transition: transform 0.6s ease-out;
  }

  .curtainNavigation.active {
    transform: translate(200%);
  }

  .region-selection {
    flex-direction: row;
    justify-content: space-evenly;
}
.goTopAnchor {
  margin-left: 90vw;
  max-width: 4rem;
}

  .left-footer {
    width: 40vw;
  }
}

.card-ville, .card-campagne, .card-coup-de-coeur{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}