:root {
  --main-color: var(#f9f9f9);
}

* {
  box-sizing: border-box;
}

overlay-region-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  background-color: --main-color;
  margin: 3em;
}

#photo-gdest {
  width: 15em;
  height: 15em;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

overlay-region-container.div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
